/* Global */
body {
    margin: 0;
    background: #0e0e0e;
    font-family: "Poppins", sans-serif;
    color: #fff;
}

/* Layout */
.layout {
    display: flex;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background: #121212;
    padding: 20px;
}

.logo {
    color: #C19227;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 22px;
}

.sidebar nav a {
    display: block;
    padding: 14px;
    color: #cfcfcf;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    margin-bottom: 6px;
    transition: 0.3s;
}

.sidebar nav a.active,
.sidebar nav a:hover {
    background: #C19227;
    color: #000;
}

/* Main Panel */
.main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Topbar */
.topbar {
    background: #191919;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    align-items: center;
}

.search-input {
    padding: 10px 12px;
    width: 250px;
    border-radius: 8px;
    border: none;
    background: #2c2c2c;
    color: white;
}

.top-right {
    display: flex;
    align-items: center;
    gap: 12px;
}

.profile-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.icon {
    font-size: 18px;
    color: #C19227;
}

.username {
    font-size: 15px;
}

/* Content */
.content {
    padding: 25px;
}

.page-title {
    font-size: 26px;
    margin-bottom: 20px;
}

/* Table */
.table-wrapper {
    background: #161616;
    padding: 20px;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: #202020;
}

thead th {
    padding: 14px;
    text-align: left;
    font-size: 14px;
    color: #C19227;
}

tbody td {
    padding: 12px;
    border-bottom: 1px solid #2a2a2a;
}

.btn {
    background: #C19227;
    color: #000;
    border: none;
    padding: 6px 14px;
    border-radius: 6px;
    cursor: pointer;
}

/* Badges */
.badge {
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 12px;
}

.green {
    background: #2ecc71;
    color: black;
}

.yellow {
    background: #f1c40f;
    color: black;
}

/* Responsive */
@media(max-width: 768px) {
    .sidebar {
        width: 70px;
    }

    .sidebar nav a {
        font-size: 14px;
    }

    .logo {
        font-size: 14px;
    }

    .search-input {
        width: 150px;
    }
}